<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>"><%= app_name %></a>
  </div>
</nav>
<div class="container">
  <div class="row mt-5">

    <div class="col-4">
      <button class="btn btn-primary btn-block large-btn mt-2" type="button">HITT</button>
    </div>

    <div class="col-4">
      <button class="btn btn-primary btn-block large-btn  mt-2" type="button">SE23</button>
    </div>

    <div class="col-4">
      <button class="btn btn-primary btn-block large-btn  mt-2" type="button">Strength</button>
    </div>

  </div>

  <div class="row mt-5">
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title text-center">Description</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center"><a href="<%= schedule_path %>" class="btn btn-primary" type="button">Start</a></div>
      </div>
    </div>
  </div>


</div>
