<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>"><%= app_name %></a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">TIMER - 20:20</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="co-12">
      <iframe width="1200px" height="600px" src="https://www.youtube.com/embed/uP1_VCPPIYI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-2">
    <div class="card col">
      <div class="card-body">
        <div class="text-center">
          <a href="javascript:void(0)" class="btn btn-primary" type="button">Previous</a>
          <a href="javascript:void(0)" class="btn btn-primary" type="button">Play/Pause</a>
          <a href="javascript:void(0)" class="btn btn-primary" type="button">Next</a>
        </div>

      </div>
    </div>
  </div>


</div>
